/* Banner Component Style  */
#header_ui {
  margin-left: 2%;
  margin-right: -1%;
  box-shadow: none;
  border: none;
  padding-bottom: 0;
}

/* HomePage COMPONENT STYLES */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 0, 0, 0)), url("https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  opacity: .8;
  
}

/* Product Component Style */

.productHolder {
  margin: 3% 2%;
}

.ui.card {
  word-wrap: break-word;
  /* height: 350px; */
}

.addToCart {
  float: right;
}

.ui.card> .image> img {
  width: 98%;
  height: 220px;
  margin: 1%;
}
.productsGrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 2% 1%;
  overflow: hidden;
}



/* NewProductForm Component Style */

.ui.form {
  max-width: 40%;
  margin: 0 auto;
}

#uploadButton {
  width: 200px;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  border: none;
}

#imgProductOnForm {
  width: 50%;
  /* height: 450px; */
  display: block;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.084)
}

#buttonNewProduct {
  display: block;
  margin: 0 auto;
}



/* first break-point  */
@media screen and (max-width: 1260px) {
  .productsGrid {
    grid-template-columns: 33.3% 33.3% 33.3% 
  }
}

/* second break-point  */
@media screen and (max-width: 950px) {
  .productsGrid {
    grid-template-columns: 50% 50%
  }
}

/* Third break-point  */
@media screen and (max-width: 655px) {
  .productsGrid {
    grid-template-columns: 100%;
    margin: auto 12%;
  }
}